<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>

        <form class="col-md-3" method="post" action="/login">
            <br><br>
            <h1 class="h3 mb-3 font-weight-bold">Please sign in</h1>
            <input type="email" class="form-control" name="email" placeholder="Email address"/>
            <input type="password" class="form-control" name="passw" placeholder="Password"/>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        </form>

    </div>

</div>

</body>
</html>