<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Just to add the new professional</title>
</head>
<body>
<h2>New Professional</h2>
<br>

<form th:method="POST" th:action="@{/admin/newuser}" th:object="${user}">
  <div>
    <input type="hidden"  th:field="*{id}" id="id"/>
    <br>
    <label for="passw">Password</label>
    <input type="text" name="passw" id="passw"/>
    <br>
    <br>
    <label for="name">Name</label>
    <input type="text" name="name" id="name"/>
    <br>
    <br>
    <label for="surname">Surname</label>
    <input type="text" name="surName" id="surname"/>
    <br>
    <br>
    <label for="age">Age</label>
    <input type="text" name="age" id="age"/>
    <br><br>
    <label for="email">E-Mail</label>
    <input type="text" name="email" id="email"/>
    <br><br>
    <label for="role">Role</label>
    <select id="role" name="roles" multiple size="2" required>
      <option value=1>USER</option>
      <option value=2>ADMIN</option>
    </select>
    <br><br>
    <input type="submit"  value="Add User"/>
  </div>
</form>
<br><br>
<form th:method="POST" th:action="@{/logout}">
  <input type="submit" value="Logout"/>
</form>
</body>
</html>