<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User Info</title>
</head>
<body>

<h3>User's info</h3>

<table border="1" cellpadding="10">
  <tr>
    <th>ID</th>
    <th>Login</th>
    <th>Password</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Age</th>
    <th>Email</th>
  </tr>
  <tr>
    <td th:text="${user.getId()}"></td>
    <td th:text="${user.getUserLogin()}"></td>
    <td th:text="${user.getPassw()}"></td>
    <td th:text="${user.getName()}"></td>
    <td th:text="${user.getSurName()}"></td>
    <td th:text="${user.getAge()}"></td>
    <td th:text="${user.getEmail()}"></td>
  </tr>
</table>
<br>
<form th:method="POST" th:action="@{/logout}">
  <input type="submit" value="Logout"/>
</form>

</body>
</html>